<div class="grid">
    <div class="col-12">
        <p-toolbar styleClass="mb-2">
            <div class="">
                <h3>Đề tài nghiên cứu</h3>
                <p-breadcrumb
                    [model]="items"
                    [home]="{ icon: 'pi pi-home' }"
                ></p-breadcrumb>
            </div>
            <ng-template pTemplate="right">
                <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    label="Thêm mới"
                    (click)="visibleScienceProject = true"
                ></button>
            </ng-template>
        </p-toolbar>
        <div class="card">
            <p-table
                #dt
                [value]="scienceProjects"
                responsiveLayout="scroll"
                styleClass="p-datatable-striped"
                [paginator]="false"
                [rowHover]="true"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column gap-3 align-items-end md:flex-row md:"
                    >
                        <div class="flex flex-column">
                            <label
                                for="email1"
                                class="block text-900 text-large font-weight mb-2"
                                >Tìm kiếm theo tên sách:</label
                            >
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    pInputText
                                    type="text"
                                    [(ngModel)]="topicName"
                                    placeholder="Tìm theo tên sách"
                                    style="width: 350px"
                                    class="sm:"
                                />
                            </span>
                        </div>
                        <div class="flex flex-column">
                            <label
                                for="email1"
                                class="block text-900 text-large font-weight mb-2"
                                >Tác giả:</label
                            >
                            <!-- <input
                                type="text"
                                pInputText
                                [(ngModel)]="codeSelected"
                            /> -->
                            <p-autoComplete
                                [(ngModel)]="selectedAuthor"
                                [suggestions]="authorsList"
                                field="name"
                                placeholder="Nhập tên tác giả"
                                (completeMethod)="handleSearchAuthor($event)"
                            />
                        </div>
                        <button
                            pButton
                            pRipple
                            label="Lọc"
                            (click)="handleFilterScienceProject()"
                        ></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Mã số</th>
                        <th>Tên đề tài</th>
                        <th>Chủ nhiệm đề tài</th>
                        <th>Số thành viên</th>
                        <th style="width: 15%">Tác giả thực hiện</th>
                        <th>Thời gian thực hiện</th>
                        <th>Giờ định mức</th>
                        <th>Ghi chú</th>
                        <th style="text-align: center">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-project>
                    <tr>
                        <td>{{ project.projectCode }}</td>
                        <td>{{ project.projectName }}</td>
                        <td>{{ project?.projectManager?.name }}</td>
                        <td>{{ project.memberCount }}</td>
                        <td>{{ project.authorScienceProjects }}</td>
                        <td>
                            {{ project.startYear | date : "dd/MM/yyyy" }} -
                            {{ project.endYear | date : "dd/MM/yyyy" }}
                        </td>
                        <td>{{ project.workHoursPerProject }}</td>
                        <td>
                            <span class="truncate-2">{{ project.notes }}</span>
                        </td>
                        <td style="text-align: center">
                            <div class="flex gap-2 justify-content-center">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-info p-button-sm"
                                    (click)="
                                        handleShowUpdateCurriculum(project)
                                    "
                                    pTooltip="Sửa"
                                    tooltipPosition="top"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-button-sm"
                                    (click)="handleDeleteItem(project.id)"
                                    pTooltip="Xóa"
                                    tooltipPosition="top"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div
                class="flex align-items-center mt-3"
                style="justify-content: space-between"
            >
                <p>
                    <span style="font-weight: 500">{{
                        1 + (paging.pageIndex - 1) * paging.pageSize
                    }}</span>
                    -
                    <span style="font-weight: 500">{{
                        1 +
                            (paging.pageIndex - 1) * paging.pageSize +
                            (paging.pageSize - 1)
                    }}</span>
                    trong
                    <span style="font-weight: 500">{{
                        paging.totalRecords
                    }}</span>
                    bản ghi
                </p>
                <div *ngIf="scienceProjects?.length > 0">
                    <p-paginator
                        class="custum-paging"
                        (onPageChange)="onPageChange($event)"
                        [first]="(paging.pageIndex - 1) * paging.pageSize"
                        [rows]="paging.pageSize"
                        [totalRecords]="paging.totalRecords"
                        [rowsPerPageOptions]="config.pageSizeOptions"
                    />
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog
    header="Thêm mới"
    [modal]="true"
    [(visible)]="visibleScienceProject"
    [style]="{ width: '60rem' }"
>
    <form [formGroup]="createScienceProjectForm">
        <div class="p-fluid">
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="projectName">Tên đề tài NCKH</label>
                    <input
                        type="text"
                        id="projectName"
                        placeholder="Nhập tên đề tài"
                        pInputText
                        formControlName="projectName"
                    />
                </div>
                <div class="field col mb-0">
                    <label for="scienceProjectLevelId">Cấp đề tài</label>
                    <p-dropdown
                        [options]="scienceProjectLevels"
                        optionLabel="key"
                        formControlName="scienceProjectLevelId"
                        placeholder="Chọn cấp"
                        inputId="scienceProjectLevelId"
                    ></p-dropdown>
                </div>
            </div>

            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="startYear">Năm bắt đầu</label>
                    <p-calendar
                        id="startYear"
                        formControlName="startYear"
                        [showIcon]="true"
                        placeholder="Chọn năm bắt đầu"
                        [showButtonBar]="true"
                    />
                </div>
                <div class="field col mb-0">
                    <label for="endYear">Năm kết thúc</label>
                    <p-calendar
                        id="startYear"
                        formControlName="endYear"
                        [showIcon]="true"
                        placeholder="Chọn năm bắt đầu"
                        [showButtonBar]="true"
                    />
                </div>
            </div>

            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="projectLeader">Chủ nhiệm đề tài</label>
                    <p-dropdown
                        id="projectLeader"
                        [options]="projectLeaders"
                        formControlName="projectLeader"
                        optionLabel="name"
                        optionValue="id"
                        placeholder="Chọn chủ nhiệm"
                    ></p-dropdown>
                </div>

                <div class="field col mb-0">
                    <label for="memberCount">Số lượng thành viên</label>
                    <input
                        type="number"
                        id="memberCount"
                        pInputText
                        formControlName="memberCount"
                    />
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="projectCode">Mã số đề tài</label>
                    <input
                        type="text"
                        id="projectCode"
                        pInputText
                        formControlName="projectCode"
                    />
                </div>

                <div class="field col mb-0">
                    <label for="durationInYears">Số năm thực hiện</label>
                    <input
                        type="number"
                        id="durationInYears"
                        pInputText
                        formControlName="durationInYears"
                        step="0.1"
                    />
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="workHoursPerProject"
                        >Định mức giờ theo công trình</label
                    >
                    <input
                        type="number"
                        id="workHoursPerProject"
                        pInputText
                        formControlName="workHoursPerProject"
                        step="0.1"
                    />
                </div>

                <div class="field col mb-0">
                    <label for="hoursCalculated">Số giờ được tính</label>
                    <input
                        type="number"
                        id="hoursCalculated"
                        pInputText
                        formControlName="hoursCalculated"
                        step="0.1"
                    />
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="managingAgency">Cơ quan quản lý</label>
                    <input
                        type="text"
                        id="managingAgency"
                        pInputText
                        formControlName="managingAgency"
                    />
                </div>
                <div class="field col mb-0">
                    <label for="acceptanceDate">Ngày nghiệm thu</label>
                    <p-calendar
                        id="startYear"
                        formControlName="acceptanceDate"
                        [showIcon]="true"
                        placeholder="Chọn năm bắt đầu"
                        [showButtonBar]="true"
                    />
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="scienceProjecStatus">Tình trạng đề tài</label>
                    <p-dropdown
                        [options]="statusOptions"
                        formControlName="scienceProjecStatus"
                        placeholder="Chọn tình trạng"
                    >
                    </p-dropdown>
                </div>

                <div class="field col mb-0">
                    <label for="notes">Ghi chú</label>
                    <textarea
                        id="notes"
                        rows="3"
                        pInputTextarea
                        formControlName="notes"
                    ></textarea>
                </div>
            </div>
        </div>
    </form>
    <div class="p-formgrid grid">
        <div class="field col mb-0">
            <label for="membersName">Tên các thành viên</label>
            <p-multiSelect
                id="membersName"
                [options]="members"
                [(ngModel)]="selectedMembers"
                name="membersName"
                appendTo="body"
                optionLabel="name"
                placeholder="Chọn các thành viên"
                display="chip"
            ></p-multiSelect>
        </div>
    </div>
    <div class="p-dialog-footer flex justify-content-end gap-2">
        <p-button
            label="Hủy"
            severity="secondary"
            (onClick)="visibleScienceProject = false"
        ></p-button>
        <p-button
            icon="pi pi-plus"
            label="Thêm mới"
            (click)="handleCreateItem()"
        ></p-button>
    </div>
</p-dialog>

<p-dialog
    header="Chỉnh sửa"
    [modal]="true"
    [(visible)]="visibleUpdateScienceProject"
    [style]="{ width: '60rem' }"
>
    <form [formGroup]="updateScienceProjectForm">
        <div class="p-fluid">
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="projectName">Tên đề tài NCKH</label>
                    <input
                        type="text"
                        id="projectName"
                        placeholder="Nhập tên đề tài"
                        pInputText
                        formControlName="projectName"
                    />
                </div>
                <div class="field col mb-0">
                    <label for="scienceProjectLevelId">Cấp đề tài</label>
                    <p-dropdown
                        [options]="scienceProjectLevels"
                        optionLabel="key"
                        optionValue="id"
                        formControlName="scienceProjectLevelId"
                        placeholder="Chọn cấp"
                        inputId="scienceProjectLevelId"
                    ></p-dropdown>
                </div>
            </div>

            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="startYear">Năm bắt đầu</label>
                    <p-calendar
                        id="startYear"
                        formControlName="startYear"
                        [showIcon]="true"
                        placeholder="Chọn năm bắt đầu"
                        [showButtonBar]="true"
                    />
                </div>
                <div class="field col mb-0">
                    <label for="endYear">Năm kết thúc</label>
                    <p-calendar
                        id="startYear"
                        formControlName="endYear"
                        [showIcon]="true"
                        placeholder="Chọn năm bắt đầu"
                        [showButtonBar]="true"
                    />
                </div>
            </div>

            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="projectLeader">Chủ nhiệm đề tài</label>
                    <p-dropdown
                        id="projectLeader"
                        [options]="projectLeaders"
                        formControlName="projectManagerId"
                        optionLabel="name"
                        optionValue="id"
                        placeholder="Chọn chủ nhiệm"
                    ></p-dropdown>
                </div>

                <div class="field col mb-0">
                    <label for="memberCount">Số lượng thành viên</label>
                    <input
                        type="number"
                        id="memberCount"
                        pInputText
                        formControlName="memberCount"
                    />
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="projectCode">Mã số đề tài</label>
                    <input
                        type="text"
                        id="projectCode"
                        pInputText
                        formControlName="projectCode"
                    />
                </div>
                <div class="field col mb-0">
                    <label for="durationInYears">Số năm thực hiện</label>
                    <input
                        type="number"
                        id="durationInYears"
                        pInputText
                        formControlName="durationInYears"
                        step="0.1"
                    />
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="workHoursPerProject"
                        >Định mức giờ theo công trình</label
                    >
                    <input
                        type="number"
                        id="workHoursPerProject"
                        pInputText
                        formControlName="workHoursPerProject"
                        step="0.1"
                    />
                </div>

                <div class="field col mb-0">
                    <label for="hoursCalculated">Số giờ được tính</label>
                    <input
                        type="number"
                        id="hoursCalculated"
                        pInputText
                        formControlName="hoursCalculated"
                        step="0.1"
                    />
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="managingAgency">Cơ quan quản lý</label>
                    <input
                        type="text"
                        id="managingAgency"
                        pInputText
                        formControlName="managingAgency"
                    />
                </div>
                <div class="field col mb-0">
                    <label for="acceptanceDate">Ngày nghiệm thu</label>
                    <p-calendar
                        id="startYear"
                        formControlName="acceptanceDate"
                        [showIcon]="true"
                        placeholder="Chọn năm bắt đầu"
                        [showButtonBar]="true"
                    />
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="scienceProjecStatus">Tình trạng đề tài</label>
                    <p-dropdown
                        [options]="statusOptions"
                        formControlName="scienceProjecStatus"
                        placeholder="Chọn tình trạng"
                    >
                    </p-dropdown>
                </div>

                <div class="field col mb-0">
                    <label for="notes">Ghi chú</label>
                    <textarea
                        id="notes"
                        rows="3"
                        pInputTextarea
                        formControlName="notes"
                    ></textarea>
                </div>
            </div>
        </div>
    </form>
    <div class="p-formgrid grid">
        <div class="field col mb-0">
            <label for="membersName">Tên các thành viên</label>
            <p-multiSelect
                id="membersName"
                [options]="members"
                [(ngModel)]="selectedMembersUpdate"
                name="membersName"
                appendTo="body"
                optionLabel="name"
                placeholder="Chọn các thành viên"
                display="chip"
            ></p-multiSelect>
        </div>
    </div>
    <div class="p-dialog-footer flex justify-content-end gap-2 p-0">
        <p-button
            label="Hủy"
            severity="secondary"
            (onClick)="visibleScienceProject = false"
        ></p-button>
        <p-button
            icon="pi pi-save"
            label="Cập nhật"
            (click)="handleUpdateItem()"
        ></p-button>
    </div>
</p-dialog>

<!-- Thông báo Toast -->
<p-toast></p-toast>

<!-- Dialog xác nhận xóa -->
<p-confirmDialog
    [style]="{ width: '450px' }"
    header="Xác nhận"
    icon="pi pi-exclamation-triangle"
></p-confirmDialog>
