<!-- Thông báo Toast -->
<p-toast></p-toast>

<div class="grid">
    <div class="col-12">
        <p-toolbar styleClass="mb-2">
            <div class="">
                <h3>Danh sách sở hữu trí tuệ</h3>
                <p-breadcrumb
                    [model]="items"
                    [home]="{ icon: 'pi pi-home' }"
                ></p-breadcrumb>
            </div>
            <ng-template pTemplate="right">
                <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    label="Thêm mới sở hữu trí tuệ"
                    (click)="showDialogIntellectureal()"
                ></button>
            </ng-template>
        </p-toolbar>
        <div class="card">
            <p-table
                #dt
                [value]="intellecturealPropertys"
                responsiveLayout="scroll"
                styleClass="p-datatable-striped"
                [paginator]="false"
                [rowHover]="true"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column gap-3 align-items-end md:flex-row md:"
                    >
                        <div class="flex flex-column">
                            <label
                                for="email1"
                                class="block text-900 text-large font-weight mb-2"
                                >Tìm kiếm theo người tạo:</label
                            >
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    pInputText
                                    type="text"
                                    [(ngModel)]="code"
                                    placeholder="Tìm theo người tạo"
                                    style="width: 350px"
                                    class="sm:"
                                />
                            </span>
                        </div>
                        <div class="flex flex-column">
                            <label
                                for="email1"
                                class="block text-900 text-large font-weight mb-2"
                                >Ngày nhập kho:</label
                            >
                            <p-calendar
                                placeholder="Từ ngày - Đến ngày"
                                [(ngModel)]="deadlineRange"
                                selectionMode="range"
                                [showIcon]="true"
                                [showClearButton]="true"
                                (onBlur)="blurDateRange()"
                                [dateFormat]="this.formatdate"
                            ></p-calendar>
                        </div>
                        <button
                            pButton
                            pRipple
                            label="Lọc"
                            (click)="EvenFilter()"
                        ></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>STT</th>
                        <th>Tên sở hữu trí tuệ</th>
                        <th>Ngày nghiệm thu</th>
                        <th>Thành viên</th>
                        <th>Số lượng tác giả</th>
                        <th>Cấp độ</th>
                        <th>Giáo viên</th>
                        <th>Giờ công trình</th>
                        <th>Giờ được tính</th>
                        <th>Ghi chú</th>
                        <th>Hành động</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.acceptanceDate | date : "dd/MM/yyyy" }}</td>
                        <td>{{ item.membersName }}</td>
                        <td>{{ item.teamNumber }}</td>
                        <td>{{ item.intellecturalPropertyLevel?.key }}</td>
                        <td>{{ item.user?.name }}</td>
                        <td>{{ item.workHoursPerProject }}</td>
                        <td>{{ item.hoursCalculated }}</td>
                        <td>{{ item.note }}</td>
                        <td>
                            <div class="flex gap-2 justify-content-center">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-info p-button-sm"
                                    (click)="
                                        handleShowUpdateIntellectureal(item)
                                    "
                                    pTooltip="Sửa"
                                    tooltipPosition="top"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-button-sm"
                                    (click)="handleDeleteItem(item.id)"
                                    pTooltip="Xóa"
                                    tooltipPosition="top"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div
                class="flex align-items-center mt-3"
                style="justify-content: space-between"
            >
                <p>
                    <span style="font-weight: 500">{{
                        1 + (paging.pageIndex - 1) * paging.pageSize
                    }}</span>
                    -
                    <span style="font-weight: 500">{{
                        1 +
                            (paging.pageIndex - 1) * paging.pageSize +
                            (paging.pageSize - 1)
                    }}</span>
                    trong
                    <span style="font-weight: 500">{{
                        paging.totalRecords
                    }}</span>
                    bản ghi
                </p>
                <div *ngIf="intellecturealPropertys?.length > 0">
                    <p-paginator
                        class="custum-paging"
                        (onPageChange)="onPageChange($event)"
                        [first]="(paging.pageIndex - 1) * paging.pageSize"
                        [rows]="paging.pageSize"
                        [totalRecords]="paging.totalRecords"
                        [rowsPerPageOptions]="config.pageSizeOptions"
                    />
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog
    header="Thêm mới"
    [modal]="true"
    [(visible)]="visibleIntellectureal"
    [style]="{ width: '60rem' }"
>
    <form
        [formGroup]="createIntellecturealForm"
        (ngSubmit)="handleCreateItem()"
    >
        <div class="p-fluid">
            <div class="p-formgrid grid">
                <!-- Mã -->
                <div class="field col mb-0">
                    <label htmlFor="code">Cán bộ giáo viên</label>
                    <p-autoComplete
                        formControlName="userId"
                        [suggestions]="canbos"
                        (completeMethod)="handleOnSearch($event)"
                        field="name"
                        [dropdown]="true"
                        [minLength]="1"
                        placeholder="Nhập cán bộ giáo viên"
                        (onSelect)="onSelectCanBo($event)"
                    >
                    </p-autoComplete>

                    <div
                        *ngIf="
                            createIntellecturealForm.get('code')?.invalid &&
                            (createIntellecturealForm.get('code')?.dirty ||
                                createIntellecturealForm.get('code')?.touched)
                        "
                    >
                        <div
                            *ngIf="createIntellecturealForm.get('code')?.errors?.['required']"
                            class="error-message"
                        >
                            Vui lòng nhập mã sở hữu trí tuệ
                        </div>
                        <div
                            *ngIf="!createIntellecturealForm.get('code')?.errors?.['required'] && createIntellecturealForm.get('code')?.errors?.['whitespace']"
                            class="error-message"
                        >
                            Mã không được chứa khoảng trắng
                        </div>
                    </div>
                </div>

                <!-- Tên -->
                <div class="field col mb-0">
                    <label htmlFor="name">Tên sở hữu trí tuệ</label>
                    <input
                        pInputText
                        id="name"
                        placeholder="Nhập tên sở hữu trí tuệ"
                        formControlName="name"
                        spellcheck="false"
                        type="text"
                    />
                    <div
                        *ngIf="
                            createIntellecturealForm.get('name')?.invalid &&
                            (createIntellecturealForm.get('name')?.dirty ||
                                createIntellecturealForm.get('name')?.touched)
                        "
                    >
                        <div
                            *ngIf="createIntellecturealForm.get('name')?.errors?.['required']"
                            class="error-message"
                        >
                            Vui lòng nhập tên sở hữu trí tuệ
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-formgrid grid">
                <!-- Các trường mới -->
                <div class="field col mb-0">
                    <label for="acceptanceDate">Ngày nghiệm thu</label>
                    <input
                        type="date"
                        pInputText
                        id="acceptanceDate"
                        formControlName="acceptanceDate"
                    />
                </div>

                <div class="field col mb-0">
                    <label for="membersName">Tên các thành viên</label>
                    <input
                        type="text"
                        pInputText
                        id="membersName"
                        formControlName="membersName"
                        placeholder="Nhập tên các thành viên"
                    />
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="teamNumber">Số lượng tác giả</label>
                    <input
                        type="number"
                        pInputText
                        id="teamNumber"
                        formControlName="teamNumber"
                        placeholder="Nhập số lượng tác giả"
                    />
                </div>
                <div class="field col mb-0">
                    <label for="intellecturalPropertyLevelId"
                        >Cấp sở hữu trí tuệ</label
                    >
                    <p-dropdown
                        [options]="intellectualPropertyLevels"
                        optionLabel="key"
                        optionValue="id"
                        formControlName="intellecturalPropertyLevelId"
                        placeholder="Chọn cấp"
                        inputId="intellecturalPropertyLevelId"
                    ></p-dropdown>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="workHoursPerProject"
                        >Giờ định mức theo công trình</label
                    >
                    <input
                        type="number"
                        pInputText
                        id="workHoursPerProject"
                        formControlName="workHoursPerProject"
                        placeholder="Nhập số giờ định mức"
                    />
                </div>

                <div class="field col mb-0">
                    <label for="hoursCalculated">Số giờ được tính</label>
                    <input
                        type="number"
                        pInputText
                        id="hoursCalculated"
                        formControlName="hoursCalculated"
                        placeholder="Nhập số giờ được tính"
                    />
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="note">Ghi chú</label>
                    <textarea
                        pInputTextarea
                        id="note"
                        formControlName="note"
                        rows="3"
                        placeholder="Nhập ghi chú (nếu có)"
                    ></textarea>
                </div>
            </div>
        </div>
        <div class="p-dialog-footer flex justify-content-end gap-2">
            <p-button
                label="Hủy"
                severity="secondary"
                (onClick)="visibleIntellectureal = false"
            ></p-button>
            <p-button
                icon="pi pi-plus"
                label="Thêm mới"
                type="submit"
            ></p-button>
        </div>
    </form>
</p-dialog>

<p-dialog
    header="Chỉnh sửa"
    [modal]="true"
    [(visible)]="visibleUpdateIntellectureal"
    [style]="{ width: '60rem' }"
>
    <form
        [formGroup]="updateIntellecturealForm"
        (ngSubmit)="handleCreateItem()"
    >
        <div class="p-fluid">
            <div class="p-formgrid grid">
                <!-- Mã -->
                <div class="field col mb-0">
                    <label htmlFor="code">Cán bộ giáo viên</label>
                    <p-autoComplete
                        formControlName="userId"
                        [suggestions]="canbos"
                        (completeMethod)="handleOnSearch($event)"
                        field="name"
                        [dropdown]="true"
                        [minLength]="1"
                        placeholder="Nhập cán bộ giáo viên"
                        (onSelect)="onSelectCanBo($event)"
                    >
                    </p-autoComplete>

                    <div
                        *ngIf="
                            createIntellecturealForm.get('code')?.invalid &&
                            (createIntellecturealForm.get('code')?.dirty ||
                                createIntellecturealForm.get('code')?.touched)
                        "
                    >
                        <div
                            *ngIf="createIntellecturealForm.get('code')?.errors?.['required']"
                            class="error-message"
                        >
                            Vui lòng nhập mã sở hữu trí tuệ
                        </div>
                        <div
                            *ngIf="!createIntellecturealForm.get('code')?.errors?.['required'] && createIntellecturealForm.get('code')?.errors?.['whitespace']"
                            class="error-message"
                        >
                            Mã không được chứa khoảng trắng
                        </div>
                    </div>
                </div>

                <!-- Tên -->
                <div class="field col mb-0">
                    <label htmlFor="name">Tên sở hữu trí tuệ</label>
                    <input
                        pInputText
                        id="name"
                        placeholder="Nhập tên sở hữu trí tuệ"
                        formControlName="name"
                        spellcheck="false"
                        type="text"
                    />
                    <div
                        *ngIf="
                            createIntellecturealForm.get('name')?.invalid &&
                            (createIntellecturealForm.get('name')?.dirty ||
                                createIntellecturealForm.get('name')?.touched)
                        "
                    >
                        <div
                            *ngIf="createIntellecturealForm.get('name')?.errors?.['required']"
                            class="error-message"
                        >
                            Vui lòng nhập tên sở hữu trí tuệ
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-formgrid grid">
                <!-- Các trường mới -->
                <div class="field col mb-0">
                    <label for="acceptanceDate">Ngày nghiệm thu</label>
                    <input
                        type="date"
                        pInputText
                        id="acceptanceDate"
                        formControlName="acceptanceDate"
                    />
                </div>

                <div class="field col mb-0">
                    <label for="membersName">Tên các thành viên</label>
                    <input
                        type="text"
                        pInputText
                        id="membersName"
                        formControlName="membersName"
                        placeholder="Nhập tên các thành viên"
                    />
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="teamNumber">Số lượng tác giả</label>
                    <input
                        type="number"
                        pInputText
                        id="teamNumber"
                        formControlName="teamNumber"
                        placeholder="Nhập số lượng tác giả"
                    />
                </div>
                <div class="field col mb-0">
                    <label for="intellecturalPropertyLevelId"
                        >Cấp sở hữu trí tuệ</label
                    >
                    <p-dropdown
                        [options]="intellectualPropertyLevels"
                        optionLabel="key"
                        optionValue="id"
                        formControlName="intellecturalPropertyLevelId"
                        placeholder="Chọn cấp"
                        inputId="intellecturalPropertyLevelId"
                    ></p-dropdown>
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="workHoursPerProject"
                        >Giờ định mức theo công trình</label
                    >
                    <input
                        type="number"
                        pInputText
                        id="workHoursPerProject"
                        formControlName="workHoursPerProject"
                        placeholder="Nhập số giờ định mức"
                    />
                </div>

                <div class="field col mb-0">
                    <label for="hoursCalculated">Số giờ được tính</label>
                    <input
                        type="number"
                        pInputText
                        id="hoursCalculated"
                        formControlName="hoursCalculated"
                        placeholder="Nhập số giờ được tính"
                    />
                </div>
            </div>
            <div class="p-formgrid grid">
                <div class="field col mb-0">
                    <label for="note">Ghi chú</label>
                    <textarea
                        pInputTextarea
                        id="note"
                        formControlName="note"
                        rows="3"
                        placeholder="Nhập ghi chú (nếu có)"
                    ></textarea>
                </div>
            </div>
        </div>
        <div class="p-dialog-footer flex justify-content-end gap-2">
            <p-button
                label="Hủy"
                severity="secondary"
                (onClick)="visibleIntellectureal = false"
            ></p-button>
            <p-button
                icon="pi pi-plus"
                label="Câp nhật"
                (click)="handleUpdateItem()"
                type="submit"
            ></p-button>
        </div>
    </form>
</p-dialog>
<p-confirmDialog
    [style]="{ width: '450px' }"
    header="Xác nhận"
    icon="pi pi-exclamation-triangle"
></p-confirmDialog>
