<div class="grid">
    <div class="col-12">
        <p-toolbar styleClass="mb-2">
            <div class="">
                <h3>Danh sách đề tài nghiên cứu</h3>
                <p-breadcrumb
                    [model]="items"
                    [home]="{ icon: 'pi pi-home' }"
                ></p-breadcrumb>
            </div>
            <ng-template pTemplate="right">
                <button
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    label="Nhập kho"
                    [routerLink]="['/pages/warehouse/stock-in/create']"
                ></button>
            </ng-template>
        </p-toolbar>
        <div class="card">
            <p-table
                #dt
                [value]="researchTopices"
                responsiveLayout="scroll"
                styleClass="p-datatable-striped"
                [paginator]="false"
                [rowHover]="true"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column gap-3 align-items-end md:flex-row md:"
                    >
                        <div class="flex flex-column">
                            <label
                                for="email1"
                                class="block text-900 text-large font-weight mb-2"
                                >Tìm kiếm theo người tạo:</label
                            >
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    pInputText
                                    type="text"
                                    [(ngModel)]="code"
                                    placeholder="Tìm theo người tạo"
                                    style="width: 350px"
                                    class="sm:"
                                />
                            </span>
                        </div>
                        <div class="flex flex-column">
                            <label
                                for="email1"
                                class="block text-900 text-large font-weight mb-2"
                                >Ngày nhập kho:</label
                            >
                            <p-calendar
                                placeholder="Từ ngày - Đến ngày"
                                [(ngModel)]="deadlineRange"
                                selectionMode="range"
                                [showIcon]="true"
                                [showClearButton]="true"
                                (onBlur)="blurDateRange()"
                                [dateFormat]="this.formatdate"
                            ></p-calendar>
                        </div>
                        <button
                            pButton
                            pRipple
                            label="Lọc"
                            (click)="EvenFilter()"
                        ></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 15%">Tên hội thảo</th>
                        <th style="width: 15%">Ngày tổ chuc</th>
                        <th style="width: 5%">Ngày nhập kho</th>
                        <th style="width: 5%">Số sản phẩm</th>
                        <th style="width: 6%">Tổng tiền</th>
                        <th style="width: 40%">Ghi chú</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-stockInItem>
                    <tr>
                        <td
                            style="width: 5%; min-width: 10rem"
                            class="code"
                            (click)="showStockInDetail(stockInItem)"
                        >
                            <span class="p-column-title">Code</span>
                            {{ stockInItem.code }}
                        </td>
                        <td style="width: 15%; min-width: 10rem">
                            <span class="p-column-title">CreateName</span>
                            {{ stockInItem.createName }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title"
                                >ImportStockInDate</span
                            >
                            {{
                                stockInItem.createdAt
                                    | date : "dd/MM/yyyy HH:mm:ss"
                            }}
                        </td>
                        <td style="width: 14%; min-width: 8rem">
                            <span class="p-column-title">TotalPoduct</span>
                            {{ stockInItem.subQuantity }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">TotalPrice</span>
                            {{
                                stockInItem.total
                                    | currency : "VND" : "symbol" : "1.0-0"
                            }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Note</span>
                            <span class="truncate-2">
                                {{ stockInItem.note }}
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div
                class="flex align-items-center"
                style="justify-content: space-between"
            >
                <!-- <p>
                    <span style="font-weight: 500">{{ startRecord }}</span> -
                    <span style="font-weight: 500">{{ endRecord }}</span> trong
                    <span style="font-weight: 500">{{
                        totalRecordsCount
                    }}</span>
                    bản ghi
                </p> -->
                <div *ngIf="researchTopices?.length > 0">
                    <p-paginator
                        [rows]="pageSize"
                        (onPageChange)="onPageChange($event)"
                        [totalRecords]="
                            totalRecordsCount > 0 ? totalRecordsCount : 1
                        "
                        [rowsPerPageOptions]="[10, 20, 30]"
                    ></p-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
